<div class="header-container">
    <div class="header-flexbox">
        <a href="/home" class="header-icon" tabindex="1"><div></div></a>
        <nav class="header-nav">
            <!-- change this depending if user is logged in TODO -->
            <% if (user.id) { %>
                <div class="nav-user">
                    <div>
                        <a href="/account/" class="nav-user-icon" style="background-image: url('https://<%= config.domains.avatar %>/<%= user.id %>');"></a>
                        <a href="/account/" class="nav-user-name"><%= user.name %></a>
                    </div>
                    <div class="nav-icons">
                        <a href="/account/settings">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cog" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-cog fa-w-16 fa-3x"><path d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z" class=""></path></svg>
                        </a>
                        <a href="/account/logout">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-in-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-sign-in-alt fa-w-16 fa-lg"><path d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z" class=""></path></svg>
                        </a>
                    </div>
                </div>
            <% } else { %>
                <div class="nav-user">
                    <div>
                        <a href="/account/login" class="nav-user-icon guest-icon" style="background-image: url('https://<%= config.domains.avatar %>/0')"></a>
                        <span class="nav-user-name"><a href="/account/login">Sign in</a> / <a href="/account/register">Register</a></span>
                    </div>
                </div>
            <% } %>
            <div class="nav-drop">
                <a href="/home" name="home" class="nav-item" tabindex="1">home</a>
                <a href="/beatmaps" name="beatmaps" class="nav-item" tabindex="1">beatmaps</a>
                <a href="/clans" name="clans" class="nav-item" tabindex="1">clans</a>
                <a href="/leaderboard" name="leaderboard" class="nav-item" tabindex="1">leaderboard</a>
            </div>
        </nav>
        <%- include("../js/headerNavSelected") %>
        <%- include("../js/headerNavDropdown") %>
    </div>

    <div class="header-flexbox">
        <a class="header-search" href="/search">
            <div class="header-search-icon-container js-enter" tabindex="1">
                <div class="header-search-icon"></div>
            </div>
        </a>
        <% if (user.id) { %>
            <div class="header-user">
                <div class="header-user-icon" style="background-image: url('https://<%= config.domains.avatar %>/<%= user.id %>');" tabindex="1"></div>
                <div class="header-user-dropdown">
                    <a class="header-user-account" href="/account">
                        <img class="header-user-account-icon" src="/public/media/images/account.svg" alt>
                        <span class="header-user-account-name"><%= user.name %></span>
                    </a>
                    <a href="/account/settings">settings</a>
                    <% if(user.priv & (1 << 13)) { %>
                        <a href="/admin">admin</a>
                    <% } %>
                    <a href="/account/logout">logout</a>
                </div>
            </div>
        <% } else { %>
            <a href="/account/login">
                <div class="header-user-icon guest-icon js-enter" tabindex="1"></div>
            </a>
        <% } %>
        <div class="header-dropdown js-enter" tabindex="1"><span>☰</span></div>
        <%- include("../js/headerDropdown") %>
    </div>
</div>