<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!-- this has to be adjusted to the equivelant site :3 -->
<title>
    <% if (page.title) { %>
        <%= page.title %> // <%= config.app_name %>
    <% } else { %>
        SUTEKINA
    <% } %>
</title>
<meta name="description" content="BALLS">
<!-- <meta name="robots" content="index, follow"> -->
<meta name="pinterest" content="nopin"/>

<link rel="apple-touch-icon" sizes="180x180" href="/public/media/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/media/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/media/images/icons/favicon-16x16.png">
<!-- <link rel="manifest" href="/public/media/images/icons/site.webmanifest"> -->
<link rel="mask-icon" href="/public/media/images/icons/safari-pinned-tab.svg" color="#7765e3">
<link rel="shortcut icon" href="/public/media/images/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#7765e3">
<meta name="msapplication-config" content="/public/media/images/icons/browserconfig.xml">
<meta name="theme-color" content="#7765e3">

<link href="/public/css/exo2.css" rel="stylesheet">

<meta name="sutekina:url" content="<%= config.domains.base %>"/>
<meta name="sutekina:api" content="<%= config.domains.api %>">
<meta name="twitter:card" content="summary"/>
<meta name="twitter:image" content="/public/media/images/icons/apple-touch-icon.png">
<meta property="og:url" content="<%= config.domains.base %>"/>
<meta property="og:title" content="<%= config.app_name %>" />
<meta property="og:description" content="<%= config.app_name %> is a private osu! server." />
<meta property="og:image" content="/public/media/images/icons/apple-touch-icon.png"/>
<meta itemprop="thumbnailUrl" content="/public/media/images/icons/apple-touch-icon.png" name="thumbnail">