<!DOCTYPE html>
<head>
    <%- include('./base/css/root') %>
    <%- include('./base/html/head') %>
</head>
<body>
    <noscript>
        <h1>Please enable JavaScript for full functionality.</h1>
    </noscript>
    <script>
        let touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';
    </script>
    
    <header>
        <%- include('./base/css/header') %> 
        <%- include('./base/html/header') %> 
    </header>
    <div class="main-container">
        <%- include('./base/css/main') %> 
        <main>
            <%- include('./partials/css/' + page.type) %>
            <%- include('./partials/html/' + page.type) %>
        </main>
    </div>
    <footer>
        <%- include('./base/css/footer') %> 
        <%- include('./base/html/footer') %>
    </footer>
    <%- include('./base/js/bodyEvents') %>
</body>
</html>