<div id="user-identifier" data-user="<%- user.id %>" style="display: none;"></div>

<%- include('../../extra/loading') %>

<div class="user">
    <div class="options">
        <div class="options-flex">
            <div class="options-button options-vn">VN</div>
            <div class="options-button options-rx">RX</div>
            <div class="options-button options-ap">AP</div>
        </div>
        <div class="options-flex">
            <div class="options-button options-std">STD</div>
            <div class="options-button options-taiko">TAIKO</div>
            <div class="options-button options-mania">MANIA</div>
            <div class="options-button options-catch">CATCH</div>
        </div>
    </div>
    <div class="profile">
        <div class="user-info">
            <div class="user-about">
                <div class="user-about-icon" title="<%- user.name %>" style="background-image: url('https://<%- config.domains.avatar %>/<%- user.id %>')"></div>
                <div class="user-about-details">
                    <div class="user-about-name" title="<%- user.name %>"><%- user.name %></div>
                    <div class="user-about-country-container">
                        <a class="user-about-country"></a>
                        <p class="user-about-country-name"></p>
                    </div>
                </div>
            </div>
            <div class="user-stats">
                <dl class="user-stats-entry">
                    <dt>accuracy</dt>
                    <dd id="accuracy"></dd>
                </dl>
                <dl class="user-stats-entry">
                    <dt>play count</dt>
                    <dd id="play-count"></dd>
                </dl>
                <dl class="user-stats-entry">
                    <dt>total score</dt>
                    <dd id="total-score"></dd>
                </dl>
                <dl class="user-stats-entry">
                    <dt>ranked score</dt>
                    <dd id="ranked-score"></dd>
                </dl>
                <dl class="user-stats-entry">
                    <dt>max combo</dt>
                    <dd id="max-combo"></dd>
                </dl>
            </div>
        </div>
        <div class="user-page">
            <div class="user-page-about">
                <div>
                    <h1 class="user-page-title">about me!</h1>
                </div>
                <p class="user-page-content">
                    This user is quite mysterious, 🙂🙂🙂.
                </p>
            </div>
            <div class="user-page-badges">
                <h1 class="user-page-title">&nbsp;</h1>
                <div class="user-badges user-page-content"></div>
            </div>
        </div>
        <div class="user-rank">
            <div class="user-rank-container global-rank">
                <h1>global rank</h1>
                <div id="global-rank"></div>
            </div>
            <div class="user-rank-container country-rank">
                <h1>country rank</h1>
                <div id="country-rank"></div>
            </div>
        </div>
        <div class="user-extra">
            <div class="user-extra-item">
                <h1>created:</h1>
                <div id="created-at"></div>
            </div>
            <div class="user-extra-item">
                <h1>play time:</h1>
                <div id="play-time"></div>
            </div>

            <div id="performance-points"></div>
        </div>
    </div>
    <div class="best">
        <div class="best-scores">
            <h1>best scores</h1>
            <div class="best-scores-list scores">
                <!-- <div class="score">
                    <div class="score-grade"></div>
                    <div class="score-details">
                        <div class="beatmapset-info"></div>
                        <div class="beatmap-info">
                            <div class="beatmap-version"></div>
                            <div class="score-date"></div>
                        </div>
                    </div>
                    <div class="score-mods"></div>
                    <div class="score-accuracy"></div>
                    <div class="score-pp"></div>
                    <div class="score-replay-dl"></div>
                </div> -->
            </div>
        </div>
        <!-- commented until i figure out how to retrieve first places from mysql. TODO -->
        <!-- <div class="first-places">
            <h1>first places</h1>
            <div class="scores">

            </div>
        </div> -->
    </div>
    <div class="recent">
        <div class="recent-scores">
            <h1>recent scores</h1>
            <div class="recent-scores-list scores">

            </div>
        </div>
    </div>
</div>
<%- include('../js/twemoji') %>
<%- include('../js/fetchUser') %> 